body {
  background: linear-gradient(-225deg, #fffeff 0%, #d7fffe 100%);
}

.weather-app {
  font-family: "Bitter", serif;
  font-weight: 600;
  text-transform: capitalize;
}
.search {
  margin: 20px;
  border-radius: 10px;
  font-family: "Bitter", serif;
}
.current {
  margin: 20px;
}
.starter {
  position: relative;
  margin: 0 auto;
  width: 120%;
}
.top {
  margin-top: 40px;
  margin-bottom: 0 auto;
}
.bottom {
  margin: 20px;
}
.details {
  line-height: 200%;
}

.footer {
  font-size: 12px;
  text-align: center;
  color: #30d2f2;
}
.github {
  color: #2190a6;
  text-decoration: underline;
}
